@using Microsoft.AspNetCore.Authentication;
@{
    ViewData["Title"] = "About current user";
}
<h2>@ViewData["Title"]</h2>

<h3>Current User</h3>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>

    }
    <dt>id token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("id_token")</dd>
</dl>
